github "kean/Nuke" ~> 7.0
github "ashleymills/Reachability.swift"
github "HeroTransitions/Hero"
github "Square/Valet"
github "marcosgriselli/ViewAnimator"
github "Ekhoo/Device" ~> 3.1.2

binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseRemoteConfigBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebasePerformanceBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseFirestoreBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseDatabaseBinary.json"
